[submodule "robot/lerobot-humanoid-model"]
	path = robot/lerobot-humanoid-model
	url = https://github.com/fanhao375/lerobot-humanoid-model.git
[submodule "lerobot"]
	path = lerobot
	url = https://github.com/fanhao375/lerobot_alohamini.git
	branch = humanoid-pinned-clean-can-bus
