[submodule "robot/lerobot-humanoid-model"]
	path = robot/lerobot-humanoid-model
	url = https://github.com/fanhao375/lerobot-humanoid-model.git
[submodule "lerobot"]
	path = lerobot
	url = https://github.com/huggingface/lerobot.git
	branch = feat/clean-can-bus
